<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmf.weixin.admin.mapper.SysButtonsMapper">
  <resultMap id="BaseResultMap" type="com.dmf.weixin.admin.pojo.SysButtons">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MODULE_ID" jdbcType="DECIMAL" property="moduleId" />
    <result column="BUTTON_NAME" jdbcType="VARCHAR" property="buttonName" />
    <result column="IMAGE_PATH" jdbcType="VARCHAR" property="imagePath" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ONCLICK" jdbcType="VARCHAR" property="onclick" />
    <result column="BUTTON_KEY" jdbcType="VARCHAR" property="buttonKey" />
    <result column="BUTTON_URL" jdbcType="VARCHAR" property="buttonUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MODULE_ID, BUTTON_NAME, IMAGE_PATH, REMARK, ONCLICK, BUTTON_KEY, BUTTON_URL
  </sql>
  <select id="selectByExample" parameterType="com.dmf.weixin.admin.pojo.SysButtonsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_buttons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_buttons
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_buttons
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.dmf.weixin.admin.pojo.SysButtonsExample">
    delete from sys_buttons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    insert into sys_buttons (ID, MODULE_ID, BUTTON_NAME, 
      IMAGE_PATH, REMARK, ONCLICK, 
      BUTTON_KEY, BUTTON_URL)
    values (#{id,jdbcType=DECIMAL}, #{moduleId,jdbcType=DECIMAL}, #{buttonName,jdbcType=VARCHAR}, 
      #{imagePath,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{onclick,jdbcType=VARCHAR}, 
      #{buttonKey,jdbcType=VARCHAR}, #{buttonUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    insert into sys_buttons
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="moduleId != null">
        MODULE_ID,
      </if>
      <if test="buttonName != null">
        BUTTON_NAME,
      </if>
      <if test="imagePath != null">
        IMAGE_PATH,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="onclick != null">
        ONCLICK,
      </if>
      <if test="buttonKey != null">
        BUTTON_KEY,
      </if>
      <if test="buttonUrl != null">
        BUTTON_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=DECIMAL},
      </if>
      <if test="buttonName != null">
        #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="onclick != null">
        #{onclick,jdbcType=VARCHAR},
      </if>
      <if test="buttonKey != null">
        #{buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="buttonUrl != null">
        #{buttonUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dmf.weixin.admin.pojo.SysButtonsExample" resultType="java.lang.Integer">
    select count(*) from sys_buttons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_buttons
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.moduleId != null">
        MODULE_ID = #{record.moduleId,jdbcType=DECIMAL},
      </if>
      <if test="record.buttonName != null">
        BUTTON_NAME = #{record.buttonName,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath != null">
        IMAGE_PATH = #{record.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.onclick != null">
        ONCLICK = #{record.onclick,jdbcType=VARCHAR},
      </if>
      <if test="record.buttonKey != null">
        BUTTON_KEY = #{record.buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="record.buttonUrl != null">
        BUTTON_URL = #{record.buttonUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_buttons
    set ID = #{record.id,jdbcType=DECIMAL},
      MODULE_ID = #{record.moduleId,jdbcType=DECIMAL},
      BUTTON_NAME = #{record.buttonName,jdbcType=VARCHAR},
      IMAGE_PATH = #{record.imagePath,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      ONCLICK = #{record.onclick,jdbcType=VARCHAR},
      BUTTON_KEY = #{record.buttonKey,jdbcType=VARCHAR},
      BUTTON_URL = #{record.buttonUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    update sys_buttons
    <set>
      <if test="moduleId != null">
        MODULE_ID = #{moduleId,jdbcType=DECIMAL},
      </if>
      <if test="buttonName != null">
        BUTTON_NAME = #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        IMAGE_PATH = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="onclick != null">
        ONCLICK = #{onclick,jdbcType=VARCHAR},
      </if>
      <if test="buttonKey != null">
        BUTTON_KEY = #{buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="buttonUrl != null">
        BUTTON_URL = #{buttonUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    update sys_buttons
    set MODULE_ID = #{moduleId,jdbcType=DECIMAL},
      BUTTON_NAME = #{buttonName,jdbcType=VARCHAR},
      IMAGE_PATH = #{imagePath,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ONCLICK = #{onclick,jdbcType=VARCHAR},
      BUTTON_KEY = #{buttonKey,jdbcType=VARCHAR},
      BUTTON_URL = #{buttonUrl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.dmf.weixin.admin.pojo.SysButtons">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MODULE_ID" jdbcType="DECIMAL" property="moduleId" />
    <result column="BUTTON_NAME" jdbcType="VARCHAR" property="buttonName" />
    <result column="IMAGE_PATH" jdbcType="VARCHAR" property="imagePath" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ONCLICK" jdbcType="VARCHAR" property="onclick" />
    <result column="BUTTON_KEY" jdbcType="VARCHAR" property="buttonKey" />
    <result column="BUTTON_URL" jdbcType="VARCHAR" property="buttonUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MODULE_ID, BUTTON_NAME, IMAGE_PATH, REMARK, ONCLICK, BUTTON_KEY, BUTTON_URL
  </sql>
  <select id="selectByExample" parameterType="com.dmf.weixin.admin.pojo.SysButtonsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_buttons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_buttons
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_buttons
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.dmf.weixin.admin.pojo.SysButtonsExample">
    delete from sys_buttons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    insert into sys_buttons (ID, MODULE_ID, BUTTON_NAME, 
      IMAGE_PATH, REMARK, ONCLICK, 
      BUTTON_KEY, BUTTON_URL)
    values (#{id,jdbcType=DECIMAL}, #{moduleId,jdbcType=DECIMAL}, #{buttonName,jdbcType=VARCHAR}, 
      #{imagePath,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{onclick,jdbcType=VARCHAR}, 
      #{buttonKey,jdbcType=VARCHAR}, #{buttonUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    insert into sys_buttons
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="moduleId != null">
        MODULE_ID,
      </if>
      <if test="buttonName != null">
        BUTTON_NAME,
      </if>
      <if test="imagePath != null">
        IMAGE_PATH,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="onclick != null">
        ONCLICK,
      </if>
      <if test="buttonKey != null">
        BUTTON_KEY,
      </if>
      <if test="buttonUrl != null">
        BUTTON_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=DECIMAL},
      </if>
      <if test="buttonName != null">
        #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="onclick != null">
        #{onclick,jdbcType=VARCHAR},
      </if>
      <if test="buttonKey != null">
        #{buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="buttonUrl != null">
        #{buttonUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dmf.weixin.admin.pojo.SysButtonsExample" resultType="java.lang.Integer">
    select count(*) from sys_buttons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_buttons
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.moduleId != null">
        MODULE_ID = #{record.moduleId,jdbcType=DECIMAL},
      </if>
      <if test="record.buttonName != null">
        BUTTON_NAME = #{record.buttonName,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath != null">
        IMAGE_PATH = #{record.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.onclick != null">
        ONCLICK = #{record.onclick,jdbcType=VARCHAR},
      </if>
      <if test="record.buttonKey != null">
        BUTTON_KEY = #{record.buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="record.buttonUrl != null">
        BUTTON_URL = #{record.buttonUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_buttons
    set ID = #{record.id,jdbcType=DECIMAL},
      MODULE_ID = #{record.moduleId,jdbcType=DECIMAL},
      BUTTON_NAME = #{record.buttonName,jdbcType=VARCHAR},
      IMAGE_PATH = #{record.imagePath,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      ONCLICK = #{record.onclick,jdbcType=VARCHAR},
      BUTTON_KEY = #{record.buttonKey,jdbcType=VARCHAR},
      BUTTON_URL = #{record.buttonUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    update sys_buttons
    <set>
      <if test="moduleId != null">
        MODULE_ID = #{moduleId,jdbcType=DECIMAL},
      </if>
      <if test="buttonName != null">
        BUTTON_NAME = #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        IMAGE_PATH = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="onclick != null">
        ONCLICK = #{onclick,jdbcType=VARCHAR},
      </if>
      <if test="buttonKey != null">
        BUTTON_KEY = #{buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="buttonUrl != null">
        BUTTON_URL = #{buttonUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dmf.weixin.admin.pojo.SysButtons">
    update sys_buttons
    set MODULE_ID = #{moduleId,jdbcType=DECIMAL},
      BUTTON_NAME = #{buttonName,jdbcType=VARCHAR},
      IMAGE_PATH = #{imagePath,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ONCLICK = #{onclick,jdbcType=VARCHAR},
      BUTTON_KEY = #{buttonKey,jdbcType=VARCHAR},
      BUTTON_URL = #{buttonUrl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>